nav{
    margin-top: 50px;
}
.nav-manu{
    display: flex;
    position: absolute;
    transition: all 0.3s ease-in;
    left: -200%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    position: relative;
}
@media screen and (max-width: 1200px){
    .nav-manu{
        display: block;
        align-items: center;
        background: #212121;
        position: absolute;
        top: 100px;
        min-height:1000%;
        width: 100%;
        z-index: 100;
    }
}

.nav-manu::before{
    position: absolute;
    bottom: -20px;
    content: '';
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    height: 4px;
}
.nav-manu :first-child{
    margin-left: 0;
}
@media screen and (max-width: 1200px){
    .nav-manu :first-child{
        margin-left: 15px;
    }
}
.nav-manu.active{
    left: 0;
}
.nav-manu li{
    margin-left: 15px;
    position: relative;
}
@media screen and (max-width: 1200px){
    .nav-manu li{
        margin-top: 58px;
    }
}
.nav-manu li:hover:before{
    position: absolute;
    bottom: -20px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #0099ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media screen and (max-width: 1200px){
    .nav-manu li:hover:before{
        display: block;
        width: 100%;
    }
}
.nav-manu .adict::before{
    position: absolute;
    bottom: -20px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #0099ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;  
}

.nav-manu .adict a{
    color: #9f9f9f;
}
.nav-manu li:hover a{
    color: #9f9f9f;
}
.nav-manu li a{
    font-size: 16px;
    color: #2e2e2e;
}

@media screen and (max-width: 1200px){
    .nav-manu li a{
        color: #fff;
    }
}


.manu-icon{
    position: absolute;
    top: 60px;
    right: 70px;
    cursor: pointer;
    background-color: #2e2e2e;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -ms-border-radius: 10px 10px;
    -o-border-radius: 10px 10px;
}
@media screen and (max-width: 1200px){
    .manu-icon{
        border-radius: 2px;
        top: 97px;
        background-color: #096;
        right: 0;
        z-index: 100;
        color: #f1f1f1;
       border: 1px solid #09f;
}
}